<template>
<div>
<form>
    <q-field
        icon="account_circle"
        label="Usuario"
    >
        <q-input
            v-model="usuario.usuario"
        />
    </q-field>
    <q-field
        icon="lock"
        label="contraseña">
        <q-input
            type="password"
            v-model="usuario.clave"
        />
    </q-field>
    <q-btn id="btn-entrar" v-on:click="btnEntrar" label="Entrar" color="primary"/>
</form>
</div>
</template>
<script>
import {Notify} from 'quasar'
export default {
    data(){
        return{
          usuario:{
            usuario:'',
            clave:''
          }
        }
    },
    methods:{
      btnEntrar(){
        this.$store.dispatch("login",JSON.stringify(this.usuario)).then(function(res){
          var typ = (res=="Bienvenido")?'positive':'negative';
          Notify.create({
            type:typ,
            position:"top-right",
            timeout:250,
            message:res
          });
        });
      }
    }
}
</script>
<style>
    #btn-entrar{
        margin-top: 10px;
        margin-left:65%;
    }
</style>
