<template>
    <form>
        <q-field
            icon="perm_identity"
            label="Nombre completo"
            text-labe="white"
        >
            <q-input
                v-model="usuario.nombrecomp"
            />
        </q-field>
        <q-field
            icon="account_circle"
            label="Nombre de usuario"
            text-labe="white"
        >
            <q-input
                v-model="usuario.usuario"
            />
        </q-field>

        <q-field
            icon="lock"
            label="Contraseña"
            text-labe="white"
        >
            <q-input
                type="password"
                v-model="usuario.clave"
            />
        </q-field>
        <q-field
            icon="lock"
            label="Repita la contraseña"
            text-labe="white"
        >
            <q-input
                type="password"
                v-model="usuario.clavecomp"
            />
        </q-field>
        <q-btn id="regbtn" v-on:click="btnEntrar" color="primary">Registrar</q-btn>
    </form>
</template>
<script>
import { Notify } from 'quasar'
export default {
    data(){
        return{
          usuario:{
            nombrecomp:'',
            usuario:'',
            clave:'',
            clavecomp:''
          }
        }
    },
    methods:{
        btnEntrar(){
            this.$store.dispatch('registro',JSON.stringify(this.usuario)).then(function(res){
              var typ = (res=="Registro Exitoso") ? 'positive' : 'warning';
              Notify.create({
                timeout:250,
                message:res,
                type:typ,
                position:'top-right'
              });
            });
        }
    }
}
</script>
<style>
    #regbtn{
        margin-top: 10px;
        margin-left:65%;
    }
</style>
