<template>
    <q-page class="color flex flex-center">
        <img src="assets/logo.jpg" alt="Huastecapp">
        

        <q-tabs v-model="tabsModel">
            <q-tab  name="tab-login" icon="perm_identity" slot="title" >Entrar</q-tab>
            <q-tab name="tab-registro" icon="create" slot="title" >Registrarse</q-tab>

            <q-tab-pane name="tab-login"><login/></q-tab-pane>
            <q-tab-pane name="tab-registro"><registro/></q-tab-pane>
        </q-tabs>
    </q-page>
</template>
<script>
import login from "../components/login";
import registro from "../components/registro";
export default {
    components:{login,registro},
    name:'principal',
    data(){
        return{
            tabsModel:'tab-login',
            tabsOption:''
        }
    }
}
</script>
<style>
    /*body{
        background-color: #F06292;
    }*/
</style>